body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#button{
  margin-top: 5px;

  color: white;
  background-color: darkslategray;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

#button:active{
  background-color: black;
}

#button:disabled{
  background-color: lightgray;
  border: none;
}

#input{
  padding: 10px 20px;
  text-align: center;
}

#stage{
  position: relative;
  width: 300px;
  height: 33px;
}

#scale{
  width: 300px;
  height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/images/scale.png);
}

#arrow{
  width: 17px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;

  background-image: url(/images/arrow.png);

  transition: .5s;
}